<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Verto.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Verto.My.MySettings>
            <setting name="isFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CB1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="link1" serializeAs="String">
                <value />
            </setting>
            <setting name="link2" serializeAs="String">
                <value />
            </setting>
            <setting name="link3" serializeAs="String">
                <value />
            </setting>
            <setting name="link4" serializeAs="String">
                <value />
            </setting>
            <setting name="link5" serializeAs="String">
                <value />
            </setting>
            <setting name="link6" serializeAs="String">
                <value />
            </setting>
            <setting name="link7" serializeAs="String">
                <value />
            </setting>
            <setting name="link8" serializeAs="String">
                <value />
            </setting>
            <setting name="link9" serializeAs="String">
                <value />
            </setting>
            <setting name="link10" serializeAs="String">
                <value />
            </setting>
            <setting name="link11" serializeAs="String">
                <value />
            </setting>
            <setting name="link12" serializeAs="String">
                <value />
            </setting>
            <setting name="link13" serializeAs="String">
                <value />
            </setting>
            <setting name="link14" serializeAs="String">
                <value />
            </setting>
            <setting name="link15" serializeAs="String">
                <value />
            </setting>
            <setting name="link16" serializeAs="String">
                <value />
            </setting>
        </Verto.My.MySettings>
    </userSettings>
</configuration>